@font-face {
    font-family: 'Consolas';
    src: url('../fonts/CONSOLA.TTF') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Consolas-bold';
    src: url('../fonts/CONSOLA-BOLD.TTF') format('truetype');
    font-weight: bold;
    font-style: normal;
}