@import 'assets/styles/Consolas.css';

* {
    padding: 0;
    margin: 0;
}

body {
    font-family: 'Consolas', sans-serif;
    height: 100vh;
    width: 100%;
    /* overscroll-behavior : none ; */
    color: white;
    background-color: rgb(5, 5, 50);
}