.Learner{
    width: 100vw;
    height: 100vh;
    display: flex;
}
.learningSidebar{
    display: flex;
    height: 100%;
    width: 100px;
    flex-direction: column;
}
.sidebarSections > li {
    height: 100px;
    width: 100px;
}