.login{
    height: 100vh;
    width: 100vw;
    display : flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(13,12,77);
}

.login-form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.login-image {
    height: 100vh;
    width: max-content;
    object-fit: contain;
    border-radius: 15px;
}

.login-content {
    position: relative;
    height: 100vh;
    width: 70vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 4rem;
}

.banner-content {
    position: absolute;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    top: 1rem;
}

.login-logo {
    height: 15vmin;
    width: 15vmin;
    border-radius: 50%;
}

.line {
    height: 15vmin;
    width: 5px;
    background-color: white;
}

.banner-content > h1 {
    font-size: 1.7rem;
    width: 200px;
}

.login-form{
    width: 50vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

.login-headers {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

.login-headers > h1 {
    font-size: 2rem;
}

.login-headers > h3 {
    font-size: 13px;
}

.login-form > input {
    width: 100%;
    height: 2rem;
    color: white;
    font-size: 1rem;
    border: 2px solid white;
    border-radius: 5px;
    padding: 5px 10px;
    background: transparent;

    outline: none;
}

.login-form > input::placeholder {
    color: white;
}

.login-form  a {
    width: 100%;
    font-size: 15px;
    text-decoration: underline;
    text-align: start;
}

.login-form  a:hover {
    cursor: pointer;
}

.login-form > button {
    width: 30%;
    height: 3rem;
    color: white;
    font-size: 1rem;
    border: 2px solid white;
    border-radius: 5px;
    padding: 5px 10px;
    background: transparent;

    outline: none;
}

.login-form > button:hover {
    cursor: pointer;
    color: rgb(13,12,77);
    background-color: white;
}

.login-form > button:active {
    cursor: pointer;
    background-color: rgb(13,12,77);
    color: white;
}